<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main</title>
    <link rel="stylesheet" href="CSS/main.css">
</head>
<body>
        <img src="/icons/homemain.jpg" alt="" class="homemain">
    <header class="header">
        <h1><a href="/">AanandBhavan</a></h1>
        <div class="header_content">
            <p><a href="/">HOME</a></p>
            <p><a href="/property">EXPLORE HOUSE</a></p>
            <p><a href="/contact">CONTACT US</a></p>
            <a href="/login"><img src="/icons/User.svg"></a>
        </div>
    </header>
    <div class="cotes">
        <h1>YOUR HOME</h1>
        <h1>YOUR STORY</h1>
        <h1>OUR EXPERTISE...</h1>
    </div>
    <div class="note">
        <h2>Get Started With Explore Houses</h2>
        <p>Simplify your search with personalized assistance from our agents</p>
    </div>
    <div class="faceoff">       
        <div class="todo">
            <h1 style="width: fit-content;">WHAT CAN I DO?</h1>
            <div class="instructions">
                <div class="new">
                    <img src="/icons/Writer male.svg" alt="" id="back_shadow">
                    <p>Get Registered First</p>
                </div>
                <img src="/icons/Forward.svg" alt="">
                <div class="new">
                    <img src="/icons/Administrator Male.svg" alt="" id="back_shadow">
                    <p>Find Our Agent</p>
                </div>
                <img src="/icons/Forward.svg" alt="">
                <div class="new">
                    <img src="/icons/Dog House.svg" alt="" id="back_shadow">
                    <p>Find Your Desired House</p>
                </div>
                <img src="/icons/Forward.svg" alt="">
                <div class="new">
                    <img src="/icons/Lease.svg" alt="" id="back_shadow">
                    <p>Go For Secure Buying And Renting Experience</p>
                </div>
            </div>
        </div>
        <div class="make_them_explore">
            <img src="/icons/mainexplore.jpg" alt="">
            <div id="exp_contant">
                <p id="grey">BUY A HOME</p>
                <p id="opening">Opening The Door To Your Dream House</p>
                <h1 id="equal">EXPLORE HERE...</h1>
                <button><a href="/property">EXPLORE HOUSES</a></button>
            </div>
        </div>
        <div class="show_stoppers">
            <div class="show_stoppers_content">
                <h1>Sell Or Rent Your Property For Free On AanandBhavan</h1>
                <p>Discover joy in your property journey with AanandBhavan! 
                    List your property for sale or rent absolutely free,
                    connecting with dream buyers and tenants effortlessly.
                    Our dedicated agents provide personalized assistance,
                    ensuring your experience is tailored to your needs. 
                    No service fees, just seamless transactions that
                    prioritize your happiness. Explore exclusive offers,
                    adding an extra layer of delight to your property
                    experience. Happy Homes is your partner in turning
                    property dreams into reality, where every step is designed
                    for joy. Join us and step into a world where your happiness
                    truly begins at home!
                </p>
            </div>
            <img src="/icons/Receive Cash.svg" alt="">
        </div>

        <div class="about">
            <div class="about_left">
                <h1 style="color: #a3a3a3;">About US</h1>
                <p style="color: #a3a3a3;">Welcome to AanandBhavan, where we redefine the real estate 
                    experience with a commitment to joy, transparency, and 
                    personalized service. At AanandBhavan, listing your property 
                    for sale or rent is not just easy it's free! Our dedicated
                    s are here to provide personalized assistance, ensuring
                    your journey is smooth and tailored to your unique needs.
                    What sets us apart? No service fees. We believe in transparent
                    transactions that prioritize your happiness over additional costs.
                </p>
                <p style="color: #7d7d7d;">Copy Right © 2023 AanandBhavan.com | All Rights Reserved</p>
            </div>
            <div class="about_right">
                <div>
                    <h1 style="color: red;">Email Us at</h1>
                    <p style="color: #a3a3a3;">aanandbhavan.service@gmail.com</p>
                </div>
                <div>
                    <h1 style="color: red;">
                        Follow Us On
                    </h1>
                    <div class="links">
                        <img src="/icons/🦆 icon _instagram icon_.svg" alt="">
                        <img src="/icons/🦆 icon _twitter_.svg" alt="">
                        <img src="/icons/🦆 icon _facebook_.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
    
    </div>
</body>
</html>